
 .div{
  display: flex;
  justify-content:center;
  margin-top: 0px;
  background-color: rgba(148, 196, 241, 0.308);
  width:100%;
  height:1500px;
  position: absolute;
}
h1{
  position: absolute;
}
.form{
  height: 330px;
  margin-top: 80px;
  margin-left: 100px;
  justify-content: center;
  background-color: rgb(233, 248, 204);
  width: 300px;
  padding: 30px;
  position: absolute;
}
label{
  margin-left: 0px;
  padding: 10px;
}
.input{
   border-radius: 5px;
   border: solid black;

}
/* /* .button{
  margin-top:500px;
  display: flex;
  height: 20px;
  width: 60px;
  margin-left:100px;
  margin-left:10px; */

.input2{
  margin-top:500px;
  display: flex;
  height: 20px;
  width: 60px;
  margin-left:100px;
  margin-left:10px;
}
/* .form1{
  justify-content: right;
  margin-top:500px;
} */
.div2{ 
  margin-left: 100px;
  width:1000px;
  height:1000px;
  background-color: antiquewhite;
}
.Signin{
  padding: 100px;
  margin-left: 200px;
  margin-top: 100px;
}
.h1{
  margin-left: 300px;
}
/* .login1{
  justify-content: center;
  margin-left:300 px;
}
.login2{
  margin-left: 400px;
} */
.fortable{
margin-top: 10px;
margin-right: 200px;
background-color: rgb(39, 134, 134);
}
.table{
margin-top: 550px;
height: 50px;
table-layout: 20px;
position: absolute;
background-color: rgb(15, 129, 129);
margin-left: 10px;
}
table,td {
  background-color: aqua;
  border: 1px solid;
}
.update{
   margin-top: 800px;
   justify-content: center;
   margin-right: 100px;
}

